@import "tailwindcss";
@import "mosquito-design-system/theme.css";

@source "../../../packages/mosquito-design-system";

@theme {
  --font-fam-msq: "Bricolage Grotesque", sans-serif;
  --font-fam-main: "Source Sans 3", sans-serif;
  --font-fam-mono: Menlo, monospace;
}

.ysabeau {
  --font-fam-msq: "Ysabeau", sans-serif;
  --font-fam-main: "DM Sans", sans-serif;
}
