@layer theme {
  :root {
    /* === font families === */
    --msq-font: "Bricolage Grotesque", sans-serif;
    --msq-font-main: "Source Sans 3", sans-serif;
    --msq-font-mono: Menlo, monospace;

    /* === font sizes === */
    --msq-font-base-size: 1.125rem;
    --msq-font-size-ratio: 1.618;

    /* === core variables === */
    --msq-hue-primary: 192;
    --msq-hue-adjacent-1: 182;
    --msq-hue-adjacent-2: 198;

    /* === derived color palette === */ /* primary */
    --msq-col-primary-dimmed: oklch(0.4 0.3 var(--msq-hue-primary));
    --msq-col-primary: oklch(0.6 0.26 var(--msq-hue-primary));
    --msq-col-primary-lightened: oklch(0.8 0.4 var(--msq-hue-primary));

    /* adjacent */
    --msq-col-adjacent-1: oklch(0.6 0.26 var(--msq-hue-adjacent-1));
    --msq-col-adjacent-2: oklch(0.6 0.26 var(--msq-hue-adjacent-2));

    /* shades of white */
    --msq-col-bright-4: oklch(0.6 0.02 var(--msq-hue-primary));
    --msq-col-bright-3: oklch(0.75 0.02 var(--msq-hue-primary));
    --msq-col-bright-2: oklch(0.88 0.02 var(--msq-hue-primary));
    --msq-col-bright-1: oklch(0.96 0.02 var(--msq-hue-primary));
    --msq-col-bright-0: oklch(0.98 0.01 var(--msq-hue-primary));

    /* shades of black */
    --msq-col-dark-0: oklch(0.15 0.02 var(--msq-hue-primary));
    --msq-col-dark-1: oklch(0.18 0.011 var(--msq-hue-primary));
    --msq-col-dark-2: oklch(0.23 0.009 var(--msq-hue-primary));
    --msq-col-dark-3: oklch(0.28 0.009 var(--msq-hue-primary));
    --msq-col-dark-4: oklch(0.4 0.009 var(--msq-hue-primary));
  }
}

@theme {
  /* THEME V 0.2 - after decision, without design review */
  /* === semantic tailwind font variables === */
  --font-fam-msq: var(--msq-font);
  --font-fam-main: var(--msq-font-main);
  --font-sans: var(--msq-font-main);
  --font-fam-mono: var(--msq-font-mono);
  --font-mono: var(--msq-font-mono);

  /* === semantic tailwind font sizes === */
  --text-fs-1: calc(
    var(--msq-font-base-size) * pow(var(--msq-font-size-ratio), -1)
  );
  --text-fs-2: calc(
    var(--msq-font-base-size) * pow(var(--msq-font-size-ratio), -0.5)
  );
  --text-fs-3: var(--msq-font-base-size);
  --text-fs-4: calc(
    var(--msq-font-base-size) * pow(var(--msq-font-size-ratio), 0.5)
  );
  --text-fs-5: calc(
    var(--msq-font-base-size) * pow(var(--msq-font-size-ratio), 1)
  );
  --text-fs-6: calc(
    var(--msq-font-base-size) * pow(var(--msq-font-size-ratio), 2)
  );
  --text-fs-7: calc(
    var(--msq-font-base-size) * pow(var(--msq-font-size-ratio), 3)
  );
  --text-base: var(--text-fs-3);

  /* === semantic tailwind colors === */
  --color-col-bg: light-dark(var(--msq-col-bright-1), var(--msq-col-dark-1));
  --color-col-bg-soft: light-dark(
    var(--msq-col-bright-2),
    var(--msq-col-dark-2)
  );
  --color-col-bg-weak: light-dark(
    var(--msq-col-bright-3),
    var(--msq-col-dark-3)
  );
  --color-col-fg: light-dark(var(--msq-col-dark-1), var(--msq-col-bright-1));
  --color-col-fg-strong: light-dark(
    var(--msq-col-dark-0),
    var(--msq-col-bright-0)
  );
  --color-col-fg-soft: light-dark(
    var(--msq-col-dark-2),
    var(--msq-col-bright-2)
  );
  --color-col-fg-weak: light-dark(
    var(--msq-col-dark-3),
    var(--msq-col-bright-3)
  );

  --color-col-line-strongest: light-dark(
    var(--msq-col-bright-3) var(--msq-col-dark-3)
  );
  --color-col-line-strong: light-dark(
    var(--msq-col-dark-4),
    var(--msq-col-bright-4)
  );
  --color-col-line: light-dark(var(--msq-col-bright-4), var(--msq-col-dark-4));
  --color-col-line-soft: light-dark(
    var(--msq-col-bright-3),
    var(--msq-col-dark-3)
  );

  --color-col-accent-weak: light-dark(
    var(--msq-col-primary-lightened),
    var(--msq-col-primary-dimmed)
  );
  --color-col-accent: var(--msq-col-primary);
  --color-col-accent-strong: light-dark(
    var(--msq-col-primary-dimmed),
    var(--msq-col-primary-lightened)
  );
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  .dark {
    color-scheme: dark;
  }

  .light {
    color-scheme: light;
  }
}
